* { margin: 0; padding: 0; }
:root {
       --dt-margin: 55; /*Note that tskilldd required we hardcode it, related to the percentage width most likely*/
     }
       body { font: 16px Helvetica, Sans-Serif; line-height: 24px; background-color: #2a7f93; background-attachment: fixed; background-size: cover;}
       .clear { clear: both; }
        #page-wrap { width: 1080px; margin: 40px auto 60px; }
        #pic { float: right; margin: -30px 0 0 0; max-width: 20%; border: 2px solid black;}
        h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
        h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
        h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
        p { margin: 0 0 0px 0; }
        a { text-decoration: none; border-bottom: 1px dotted #999; color: black; }
        a:hover { border-bottom-style: solid; color: black; }
        ul { margin: 0 0 32px 17px; }
        #objective { width: 500px; float: left; }
        #objective p { font-family: Georgia, Serif; font-style: italic; }

        dt { font-style: italic; font-weight: bold; font-size: 26px; text-align: left; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
        dd { width: 850px; float: right; }
        #educationdd { margin-left: var(--dt-margin);}
        #experiencedd { margin-left: var(--dt-margin);}
        #hobbiesdd { margin-left: var(--dt-margin);}
        #referencesdd { margin-left: var(--dt-margin);}
        #counterdd { margin-left: var(--dt-margin);}
	#tskillsdd { float: left; width: 25%; margin-left: 55px; } /* For some reason this has to be hardcoded for margins, rather than using the variable as above*/
	#cskillsdd { float: left; width: 25%; margin-right: 45px }
        dd.clear { float: none; margin: 0; height: 15px; }